* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
label {
    display: block;
}

.chart {
    width: 80%;
}

ul {
    list-style-type: none;
}

ul li {
    width: 400px;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
